//- 博客首页

extend ./layout
block main
	h2.page-header 文章列表
	form#form-post-filter.form.form-inline.form-filter
		div.form-group
			label 分类
			select#js-category.form-control(name='category')
				option(value='', selected=(filter.category === '')) - 选择分类 -
				each category in categories
					option(value=category._id, selected=(category._id.toString() === filter.category))= category.name
		div.form-group
			label 作者
			select#js-author.form-control(name='author')
				option(value='', selected=(filter.author === '')) - 选择作者 -
				each author in authors
					option(value=author._id, selected=(author._id.toString() === filter.author))= author.name
		button#js-filter-submit.btn.btn-info 筛选

	table.table.table-bordered
		thead
			tr
				th(width='30%')
					if sortby === 'title'
						if (sortdir === 'desc')
							a(href='/admin/articles/?page=' + pageNum + '&sortby=title&sortdir=asc')
								i.fa.fa-angle-down
								&nbsp;标题
						else
							a(href='/admin/articles/?page=' + pageNum + '&sortby=title&sortdir=desc')
								i.fa.fa-angle-up
								&nbsp;标题
					else
						a(href='/admin/articles/?page=' + pageNum + '&sortby=title&sortdir=desc')
							标题
				th
					if sortby === 'category'
						if (sortdir === 'desc')
							a(href='/admin/articles/?page=' + pageNum + '&sortby=category&sortdir=asc')
								i.fa.fa-angle-down
								&nbsp;分类
						else
							a(href='/admin/articles/?page=' + pageNum + '&sortby=category&sortdir=desc')
								i.fa.fa-angle-up
								&nbsp;分类
					else
						a(href='/admin/articles/?page=' + pageNum + '&sortby=category&sortdir=desc')
							分类
				th
					if sortby === 'author'
						if (sortdir === 'desc')
							a(href='/admin/articles/?page=' + pageNum + '&sortby=author&sortdir=asc')
								i.fa.fa-angle-down
								&nbsp;作者
						else
							a(href='/admin/articles/?page=' + pageNum + '&sortby=author&sortdir=desc')
								i.fa.fa-angle-up
								&nbsp;作者
					else
						a(href='/admin/articles/?page=' + pageNum + '&sortby=author&sortdir=desc')
							作者
				th
					if sortby === 'created'
						if (sortdir === 'desc')
							a(href='/admin/articles/?page=' + pageNum + '&sortby=created&sortdir=asc')
								i.fa.fa-angle-down
								&nbsp;添加时间
						else
							a(href='/admin/articles/?page=' + pageNum + '&sortby=created&sortdir=desc')
								i.fa.fa-angle-up
								&nbsp;添加时间
					else
						a(href='/admin/articles/?page=' + pageNum + '&sortby=created&sortdir=desc')
							添加时间
				th 被赞
				th 评论
				th
					if sortby === 'published'
						if (sortdir === 'desc')
							a(href='/admin/articles/?page=' + pageNum + '&sortby=published&sortdir=asc')
								i.fa.fa-angle-down
								&nbsp;状态
						else
							a(href='/admin/articles/?page=' + pageNum + '&sortby=published&sortdir=desc')
								i.fa.fa-angle-up
								&nbsp;状态
					else
						a(href='/admin/articles/?page=' + pageNum + '&sortby=published&sortdir=desc')
							状态
				th 管理
		tbody
		each article in articles
			tr
				td
					a(href='/articles/view/' + article._id, target='_blank')= article.title
				td= article.category.name
				td= article.author.email
				td= moment(article.crated).format('YYYY-MM-DD HH:mm:ss')
				td= article.meta.favorites || 0
				td= article.comments.length || 0
				td= article.published ? '已发布' : '待发布'
				td 
					a(href='/articles/view/' + article._id, target='_blank', class='btn btn-sm btn-success') 查看
					&nbsp;&nbsp;
					a(href='/admin/articles/edit/' + article._id, target='_blank',class='btn btn-sm btn-info') 编辑
					&nbsp;&nbsp;
					a(href='/admin/articles/delete/' + article._id,class='btn btn-sm btn-danger') 删除

	if pageCount > 1
		nav
			ul.pagination
				- var currentPage = pageNum || 1
				//- 当前页数为1.不可往前翻页
				if currentPage === 1
					li.disabled
						a «
				else 
					li
						a(href='/admin/articles?page=' + 1 + '&sortby=' + sortby + '&sortdir=' + sortdir) «
				//- 中间情况
				- var page_start = currentPage - 2 > 0 ? currentPage - 2 : 1;
				- var page_end = page_start + 4 >= pageCount ? pageCount : page_start + 4;

				if page_start > 1
					li
						a ...
				while page_start <= page_end
					if (page_start === currentPage)
						li.active.disabled
							a(href='/admin/articles?page=' + page_start + '&sortby=' + sortby + '&sortdir=' + sortdir)= page_start++
					else
						li
							a(href='/admin/articles?page=' + page_start + '&sortby=' + sortby + '&sortdir=' + sortdir)= page_start++

				//- 还未滚到最后 
				if page_end < pageCount
					li
						a ...

				//- 当前页数到了末尾.不可往后翻页

				if currentPage === pageCount
					li.disabled
						a »
				else
					li
						a(href='/admin/articles?page=' + pageCount + '&sortby=' + sortby + '&sortdir=' + sortdir) »
